charades-caption/
OneLLM _backup/
VITA/
Video-LLaMA
QWEN/
Qwen2.5_Omni/
results_chat
results_chatbridge
results_heuristic/
slurm_out/

# ImageBind
ImageBind/IB_embeddings/train/
ImageBind/IB_embeddings/test/
ImageBind/imagebind/models/__pycache__/
ImageBind/imagebind/__pycache__/

# ChatBridge
ChatBridge/.vscode/
ChatBridge/answer_mapping/
ChatBridge/answer_mapping/eval_MOSEI_multiple_Sentence.py
ChatBridge/answer_mapping/eval_MOSEI_multiple_XOR_f1.py
ChatBridge/answer_mapping/eval_MOSI_multiple_Sentence.py
ChatBridge/answer_mapping/eval_MOSI_multiple_XOR.py

ChatBridge/chatbridge/datasets/
ChatBridge/chatbridge/tasks/

ChatBridge/custom_datasets/
ChatBridge/eval_configs/
ChatBridge/results/
ChatBridge/slurm_out/
ChatBridge/sbatch_templates
ChatBridge/train_configs/
ChatBridge/vicuna/
ChatBridge/weights/
ChatBridge/backup/
ChatBridge/*.sh

ChatBridge/prototypes/check_modality_tokens_IB_music.py
ChatBridge/prototypes/collect_modality_tokens_food.py
ChatBridge/prototypes/read_modality_tokens_food.py
ChatBridge/prototypes/data/
ChatBridge/prototypes/data/check*

ChatBridge/demo.py
ChatBridge/LICENSE
ChatBridge/LICENSE_Lavis.md
ChatBridge/environment.yml
ChatBridge/train.py

ChatBridge/chatbridge/__pycache__
ChatBridge/chatbridge/common/__pycache__
ChatBridge/chatbridge/configs/datasets
ChatBridge/chatbridge/conversation/__pycache__
ChatBridge/chatbridge/models/__pycache__
ChatBridge/chatbridge/models/beats/__pycache__
ChatBridge/chatbridge/models/beats/pretrained
ChatBridge/chatbridge/processors/__pycache__

# OneLLM
OneLLM/demos/
OneLLM/pretrained/
OneLLM/.checkpoints/
OneLLM/docs/
OneLLM/exps/
OneLLM/results/
OneLLM/slurm_out/
OneLLM/slurm_templates/
OneLLM/backup/
OneLLM/*.pdf
OneLLM/model/__pycache__/
OneLLM/model/LLM/__pycache__/
OneLLM/data/finetune_dataset.py
OneLLM/data/imu_utils.py
OneLLM/data/pretrain_dataset.py
OneLLM/data/__pycache__/
OneLLM/model/*_dev.py
OneLLM/model/LLM/*_dev.py
OneLLM/util/__pycache__/
OneLLM/LICENSE_llama2

OneLLM/*.sh
OneLLM/engine_finetune.py
OneLLM/engine_pretrain.py
OneLLM/main_finetune.py
OneLLM/main_pretrain.py
OneLLM/core*


OneLLM/audiovideo_classification_ek.py
OneLLM/audiovideo_dialog_avsd_retrieval.py
OneLLM/audiovideo_dialog_avsd.py

OneLLM/prototypes/compute_centroids
OneLLM/prototypes/data/

OneLLM/prototypes/collect_modality_tokens_avsd_SF.py
OneLLM/prototypes/collect_modality_tokens_music_avqa_repair_ids_SF.py
OneLLM/prototypes/rename_files.py

answer_mapping/cococapdataset.py
answer_mapping/compute_delta.py
answer_mapping/eval_ek.py

answer_mapping/eval_MOSEI_multiple_Sentence.py
answer_mapping/eval_MOSEI_multiple_XOR_f1.py
answer_mapping/eval_MOSEI_multiple_XOR_lowercase.py
answer_mapping/eval_MOSEI.py
answer_mapping/eval_MOSEI_multiple.py

answer_mapping/eval_MOSI_multiple_Sentence.py
answer_mapping/eval_MOSI_multiple_XOR_f1.py
answer_mapping/eval_MOSI_multiple.py
answer_mapping/eval_MOSI.py
answer_mapping/eval_MOSI.py

answer_mapping/evaluate_hm.py

# VideoLLaMA2
VideoLLaMA2/answer_mapping/
VideoLLaMA2/assets/
VideoLLaMA2/results/
VideoLLaMA2/results2/
VideoLLaMA2/scripts/
VideoLLaMA2/slurm_out/
VideoLLaMA2/slurm_templates/
VideoLLaMA2/weigths/
VideoLLaMA2/prototypes/
VideoLLaMA2/videollama2/serve/
VideoLLaMA2/videollama2/eval/
VideoLLaMA2/videollama2/__pycache__

VideoLLaMA2/prototypes/data/
VideoLLaMA2/fix_MOSEI.py
VideoLLaMA2/test.py
VideoLLaMA2/videollama2/model/__pycache__
VideoLLaMA2/videollama2/model/beats/__pycache__
